# Ignorar arquivos de credenciais e banco de dados
*.duckdb
*.duckdb.wal
*.db
senhas.py

# Ignorar exportações e arquivos temporários
*.csv
*.xlsx
*.log

# Ignorar cache do Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar arquivos de ambiente virtual
.venv/
env/
venv/

# VSCode
.vscode/

# Jupyter e Interactive Window
.ipynb_checkpoints/